.metadata
.recommenders
.gradle

common/.classpath
common/.settings
common/.project
common/build
common/bin

patternizer/.classpath
patternizer/.settings
patternizer/.project
patternizer/build
patternizer/bin

rulegenerator/.classpath
rulegenerator/.settings
rulegenerator/.project
rulegenerator/build
rulegenerator/bin
