.metadata
.recommenders
.gradle

common/lib/oanda_fxtrade.jar
common/.classpath
common/.settings
common/.project
common/build
common/bin

pattern-tracker/.classpath
pattern-tracker/.settings
pattern-tracker/.project
pattern-tracker/build
pattern-tracker/bin

rule-generator/.classpath
rule-generator/.settings
rule-generator/.project
rule-generator/build
rule-generator/bin
